<section class="services-section spad " style="margin-left: 0%;" >
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor='let orders of order'  >
                <div class="services__item" routerLink="/Marketing/{{orders}}" style="outline: none;">
                    <h3 style="text-align: center;">{{orders}}</h3>
                    <router-outlet></router-outlet>
                    <!--<img src="assets/{{item.imgUrl}}"
                    [title]='item.title' style="width: 50%;">
                    <h4 style="text-align: center; padding-top: 10px; " >{{item.title}}</h4>-->
                </div>
            </div>
            
        </div>
    </div>
</section>
